.btn {
  display: inline-flex;
  padding: 14px 20px;
  justify-content: center;
  text-transform: uppercase;
  user-select: none;
  color: $color-default-white;
  word-break: break-all;
  line-height: normal;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
