.main-footer {
  width: 100%;
  bottom: 0;
  flex: 0 0 auto;
}

.main-footer__container {
  max-width: 1440px;
  padding: 31px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  @media (max-width: 1285px) {
    padding: 0 70px;
  }

  @include vp-1199 {
    max-width: 768px;
    padding: 42px 44px 40px 45px;
  }

  @include vp-767 {
    padding-left: 13px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.main-footer__content-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  @include vp-1199 {
    margin-bottom: 40px;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.main-footer__phone-number {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  margin-left: auto;
  max-width: 150px;

  @include vp-1199 {
    display: none;
  }
}

.main-footer__phone-number a {
  color: $color-dark-grey;

  &:disabled {
    color: rgba(2, 102, 193, 0.8);
  }

  &:hover {
    color: rgba(28, 51, 116, 1);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    color: rgba(28, 51, 116, 1);
  }

  &:active {
    color: rgba(2, 102, 193, 1);
  }
}

.main-footer__container span {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;

  @include vp-767 {
    text-align: left;
    padding-left: 7px;
  }
}

.main-footer__logo {
  @include vp-767 {
    margin-right: auto;
    margin-bottom: 14px;
    padding-left: 7px;
  }
}

.main-footer__logo a {
  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}
