.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  max-width: 120px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;

  @include vp-767 {
    margin: 0;
    margin-bottom: 20px;
    margin-right: auto;
  }
}

.social__item {
  width: 30px;
  height: 30px;
}

.social__link {
  width: 29px;
  height: 29px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(45, 56, 63, 0.3);
  fill: $color-dark-grey;

  &:disabled {
    opacity: 0.5;
  }

  &:hover {
    border: 1px solid rgba(45, 56, 63, 1);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    border: 1px solid rgba(45, 56, 63, 1);
  }

  &:active {
    border: 1px solid rgba(2, 102, 193, 1);
    background-color: rgba(2, 102, 193, 1);
    fill: $color-default-white;
  }
}
